<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadástro de usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Formulário de Cadastro</h2>
        <form id="registrationForm" action="{{ url_for('registrarUsuario') }}" method="post" novalidate>
            <div class="input-group">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required>
                <div id="usernameError" class="error-message"></div>
            </div>
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
                <div id="emailError" class="error-message"></div>
            </div>
            <div class="input-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
                <div id="passwordError" class="error-message"></div>
            </div>
            <button type="submit" class="btn">Entrar</button>
        </form>
        <div class="links">
            <a href="#">Esqueceu a senha?</a> | <a href="#">Criar conta</a>
        </div>
    </div><br>
    <div class="aviso" id="aviso">
        {% with messages = get_flashed_messages()%}
            {% if messages%}
                {% for message in messages%}
                <p>{{message}}</p>
                {%endfor%}
            {%endif%}
        {%endwith%}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>