<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
</head>
<body>
  <h1>Bem-vindo</h1>
  <p>Use os links abaixo para testar as páginas de erro:</p>
  <ul>
    <li><a href="/area-restrita">Testar erro 401 (Não autorizado)</a></li>
    <li><a href="/painel-admin">Testar erro 403 (acesso proibido)</a></li>
    <li><a href="/pagina-que-nao-existe">Testar Erro 404 (Não encontrado)</a></li>
  </ul>
</body>
</html>